{% extends "main.html" %}
  {% block content %}

  <div class="row body">
    <div class="col-md-2"></div>

    <div class="col-md-8 bodyContent">
      <div class="col-md-3 text-left categories">
        <h3 class="header">Categories</h3>

        {% for category in categories %}
          <div>
            <a class="link" href='{{url_for('items',
                      category_name=category.name)}}'>
              {{category.name}}
            </a>
          </div>
        {% endfor %}
      </div>

      <div class="col-md-9 text-left">
        <h3 class="header">Latest Items</h3>

        {% for item in items %}
          <div>
            <a class="link" href='{{url_for('item',
                                    category_name=item.category_name,
                                    item_name=item.name)}}'>
              {{item.name}}
            </a>
            <span class="itemCategory">({{item.category_name}})</span>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-2"></div>
  </div>

  {% endblock %}
